<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-light">
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="row bg-white shadow rounded p-4" style="max-width: 800px; width: 100%;">
            <!-- 左侧 LOGO -->
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="/static/image.jpg" alt="LOGO" class="img-fluid rounded">
            </div>
            <!-- 右侧登录表单 -->
            <div class="col-md-6 ">
                <h1 class="text-center mb-4">登录</h1>
                
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div>
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}

                <form method="post" action="/login">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">用户名</span>
                        <input type="text" class="form-control" id="username" name="username" placeholder="请输入账号" aria-label="Username" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon2">密码</span>
                      <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" aria-label="Password" aria-describedby="basic-addon1" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">登录</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>